*{ margin:0; padding:0; }
a{ text-decoration:none; }
body{background-color:#d7d7d7; }
.container{ width:80%; margin:10px auto; }
.header,.footer{ padding:10px; background-color:#024; }
.header{ color:#d0d0d0; }
.header h1{ padding:10px; text-decoration:underline; }
.content{ min-height:498px; padding:10px; border:3px solid #024; margin:3px 0px; }
.content h3{ text-decoration:underline; color:#024; padding:10px 0px; }
.footer{color:#d0d0d0; text-align:center; }
.footer a{ color:teal; }
.footer a:hover{ color:#d7d7d7; }
